<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Movie Preview</title>
		<meta name="description" content="Search for and preview movies from OMDB!">
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,600" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="body-bg"></div>
	