
<header>
	<h1> <i class="fas fa-film"></i> Search for Movies! </h1>
	
	<form action="/results" method="GET">
		<input type="text" placeholder="Movie Title" name="title" autocomplete="off" required>
		<button type="submit"> <i class="fas fa-search"></i> </button>
	</form>
</header>
